<h6><%= comments_counter(post.comments.length) %></h6>
<% post.comments.each do |comment| %>
  <div class="row" style="margin-bottom: 10px;">
    <div class="large-2 columns small-3"><img src="<%= profile_image(comment.user_id) %>"/></div>
    <div class="large-10 columns"><p style="margin-bottom: 10px;"><%= comment.body %></p></div>
    <div class="large-10 columns">
      <% if session[:user_id] && session[:user_id] == comment.user_id %>
        <%= link_to 'Edit', edit_comment_path(comment), :style => "margin-right: 10px;font-size: 11px;" %>
        <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' }, :style => "margin-right: 10px;font-size: 11px;" %>
      <% end %>
    </div>
  </div>
<% end %>