<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="large-12 columns">
      <label>First Name
        <%= f.text_field :first_name %>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Last Name
        <%= f.text_field :last_name %>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Email
        <%= f.email_field :email %>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Password
        <%= f.password_field :password %>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Password confirmation
        <%= f.password_field :password_confirmation %>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Profile Image
        <%= f.file_field :image %>
      </label>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
