<p id="notice"><%= notice %></p>
<div class="row">
  <div class="large-4 columns small-2"><img src="<%= profile_image(session[:user_id]) %>"/></div>
  <div class="large-8 columns">
    <p>First name: <%= @user.first_name %></p>
    <p>Last name: <%= @user.last_name %></p>
    <p>Email: <%= @user.email %></p>
    <ul class="inline-list">
      <li><%= link_to 'Edit', edit_user_path(@user) %></li>
      <li><%= link_to 'Back', root_path %></li>
    </ul>
	</div>
</div>
