<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="large-12 columns">
      <label>Title
        <%= f.text_field :title %>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Content
        <%= f.text_field :content %>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Content
        <%= f.file_field :image %>
      </label>
    </div>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
