<p id="notice"><%= notice %></p>
<article>
  <h3><a href="#">Posts</a></h3>
  <% @posts.each do |post| %>
    <h6>Written by <a href="#"><%= "#{post.user.first_name} #{post.user.last_name}" %></a> on August 12, 2012.</h6>
    <div class="row">
      <div class="large-2 columns small-3"><img src="http://placehold.it/80x80&text=[img]"/></div>
      <div class="large-10 columns">
        <p><strong><%= post.title %>:</strong> <%= post.content %></p>
        <% unless post._attachments.blank? %>
          <%= image_tag(database_path + "/#{post.id}/post_image") %>
        <%end%>  
        <ul class="inline-list">
          <li><%= link_to 'Show', post %></li>
          <% if session[:user_id] && session[:user_id] == post.user_id %>
            <li><a href=""><%= post.user.email %></a></li>
            <li><%= link_to 'Edit', edit_post_path(post) %></li>
            <li><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          <% end %>
        </ul>
        <div id="comments">
          <%= render partial: "/comments/comments", locals: { post: post }%>
        </div>
      </div>
    </div>
    <hr/>
  <% end %>
</article>
<% if session[:user_id] %>
  <%= link_to 'New Post', new_post_path %>
<% end%>